<!DOCTYPE html>
<html lang="en">
    <style>
        .button {
        background-color: #EC6A0A;
        height:"30%"; width:"70%";
        border:none;
        font-weight: 100;
        font-size:15px;padding:10px;
        color:#fff;
        }
    
        .border{
          border-color: #EC6A0A;
          border-width:1px;
         
        }
      </style>
<head>  
  <!--Adding popup.css file-->
  <link rel="stylesheet" href="\stylesheets\popup.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

    
    
      <body>   
          <table bgcolor="#EC6A0A" width="100%" style="color:white">
            <tr>
            <td><h2 align="left">Received complaints</h2></td>
            </tr></table><br>
            <table align="right">
                <tr>
                  <td> <a href="/addnewemployee">AddNewEmployee</a></td>
                                 
                </tr>
            </table>
            
               <div class="popup-position" id="contact-popup">
      <div class="popup-wrapper">
        <div id="popup-container">
            <h5>Send Email</h5>
            <form action="/sendcomplaint" method="POST">
              <div class="form-group">
                  <label for="ComplaintNo" id="complaintid">ComplaintNo</label>
                  <label name="ComplaintNo" ></label>
                  <input type="hidden" name="complaintId">
              </div>
                <div class="form-group">
                  
                  <label for="senderName">Name</label>
                  <input type="text" name="senderName" class="form-control">
                </div>
                <div class="form-group">
                  <label for="senderEmail">Email</label>
                  <input type="email" name="senderEmail" class="form-control">
                </div>
                <div class="form-group">
                    <label for="complaint">Message</label>
                    <textarea class="form-control" name="complaint"></textarea>
                </div>

            <div class="modal-footer">
              <button class="btn btn-primary btn-block">Submit</button>
              <p><a herf="javascript:void(0)" onclick="toggle_visibility('contact-popup');">Close Popup</a></p>
            </div>
          </form>
        </div>
    </div>
    </div>
    <table>
            <tr>
              <th><input type="radio" name="selectall">All</th>
              <th>Complaint Number</th>
              <th>Received On</th>
              <th>Sender's Name</th>
              <th>Sender's Email</th>
              <th>Complaint</th>
              <th>Status</th>
              <th>AssignedTo</th>
              <th>Action_taken</th>
              <th>Closed</th>
              <th>Remarks</th>
              
            </tr> 
            <% complaints.forEach((complaints) => { %> <!--'complaints' render from ejs and its a another name for 'complaint' in db table-->
            <tr>
              <td><input type="radio" name="complaintslistradio"></td>
              <td><%=complaints.complaint_No%></td>
              <td><%=complaints.dateraised.toDateString()%></td>
              <td><%=complaints.comsender%></td>
              <td><a href="javascript:void(0)" onclick="loadPopup('<%=complaints.complaint_No%>','<%=complaints.comsender%>', '<%=complaints.commail%>','<%=complaints.comtext.trim()%>');toggle_visibility('contact-popup');"><%=complaints.commail%></a></td>
              <td><%=complaints.comtext%></td>
              <td>
                <select name="status">
                  <option value="processing">Processing</option>
                  <option value="completed">Completed</option>
                  <option value="mailsent" selected>MailSent</option>
                </select>                
              </td>
               
             
             
               <td>
                  <input type="text" name="action_taken">
               </td>
               <td>
                  <input type="text" name="closed">
                </td>
                <td>
                  <input type="text" name="remarks">
                </td>
              
                
                    <td align="right">
                        <input type="submit" value="Edit" height="30%" width="200%" class="button">
                      </td>
                 

        </tr></table>

         
          <script lang="javascript">
          function loadPopup(complaintid,name,email,complaint)
          {
              $("[name='ComplaintNo']").text(complaintid);
              $("[name='complaintId']").val(complaintid);
              $("[name='senderName']").val(name);// jquery //$ = document.getElemengById("senderName")
              $("[name='senderEmail']").val(email);
              $("[name='complaint']").val(complaint);
              
          }
          function toggle_visibility(id){              
              var e = document.getElementById(id);
              if(e.style.display == 'block')
                  e.style.display = 'none';
              else 
                  e.style.display = 'block';
            }
          </script>
    
</body>
</html>
                